extends ../layout/default
block content
    .blogs-container
        .container
            h1 Blog de Motocicletas

            .blogs-intro
                p Descubre los últimos artículos, consejos y novedades del mundo de las motocicletas

            //- .filtros-blogs
            //-     .filtro-categoria
            //-         label(for="categoria-blog") Categoría
            //-         select#categoria-blog
            //-             option(value="") Todas las Categorías
            //-             option(value="mantenimiento") Mantenimiento
            //-             option(value="consejos") Consejos de Conducción
            //-             option(value="novedades") Novedades
            //-             option(value="tecnica") Técnica de Motocicletas
            //-     .filtro-busqueda
            //-         input(type="text" placeholder="Buscar artículos...")
            //-         button.btn.btn--small Buscar
            .listado-blogs
                each blog in blogs
                    .blog-card
                        .blog-imagen
                            img(src=blog.imagen, alt=blog.titulo)
                        .blog-contenido
                            h2= blog.titulo
                            .blog-meta
                                span.fecha= blog.fecha
                                span.categoria= blog.categoria
                            p.blog-extracto= blog.extracto
                            a.btn.btn--small(href=`/blogs/${blog.slug}`) Leer más
            .paginacion
                button.btn.btn--secondary Anterior
                span Página 1 de 5
                button.btn.btn--secondary Siguiente
