extends ../layout/default

block content
    .comparador-motos
        .container
            h1 Comparador de Motocicletas

            .comparador-introduccion
                p Compara las características de diferentes motocicletas para tomar la mejor decisión

            .selector-motos
                .selector-moto
                    label(for="moto1") Selecciona Primera Moto
                    select#moto1(name="moto1")
                        option(value="") Selecciona una moto
                        each moto in motos
                            option(value=moto.id) #{moto.marca} #{moto.modelo}

                .selector-moto
                    label(for="moto2") Selecciona Segunda Moto
                    select#moto2(name="moto2")
                        option(value="") Selecciona una moto
                        each moto in motos
                            option(value=moto.id) #{moto.marca} #{moto.modelo}

            .resultado-comparacion
                .moto-comparacion
                    .moto-1
                        .imagen-moto
                            img(src="/api/placeholder/300/200" alt="Moto 1")
                        .info-moto
                            h2#nombre-moto1 Selecciona una moto

                    .moto-2
                        .imagen-moto
                            img(src="/api/placeholder/300/200" alt="Moto 2")
                        .info-moto
                            h2#nombre-moto2 Selecciona una moto

                .tabla-comparacion
                    table
                        thead
                            tr
                                th Característica
                                th 
                                    span#moto1-nombre Moto 1
                                th 
                                    span#moto2-nombre Moto 2
                        tbody
                            tr
                                td Precio
                                td#precio-moto1 -
                                td#precio-moto2 -
                            tr
                                td Cilindrada
                                td#cilindrada-moto1 -
                                td#cilindrada-moto2 -
                            tr
                                td Potencia
                                td#potencia-moto1 -
                                td#potencia-moto2 -
                            tr
                                td Consumo
                                td#consumo-moto1 -
                                td#consumo-moto2 -
                            tr
                                td Peso
                                td#peso-moto1 -
                                td#peso-moto2 -

            .acciones-comparador
                button#comparar-btn.btn.btn--primary Comparar
                button#limpiar-btn.btn.btn--secondary Limpiar Selección
