extends ../layout/default

block content
    .moto-detalle-contenedor
        .container
            .moto-detalle
                .moto-imagen
                    img(src=`/img/${moto.main_image}`, alt=`${moto.brand} ${moto.model}`)
                
                .moto-info
                    h1= `${moto.brand} ${moto.model}`
                    
                    .moto-precio
                        span.precio-etiqueta Precio:
                        span.precio-valor $#{parseFloat(moto.price).toLocaleString('es-CO')}
                    
                    .moto-especificaciones
                        h2 Especificaciones
                        .especificaciones-grid
                            .especificacion
                                span.etiqueta Categoría:
                                span.valor= moto.category
                            
                            .especificacion
                                span.etiqueta Cilindraje:
                                span.valor= `${moto.engine_cc} cc`
                            
                            .especificacion
                                span.etiqueta Transmisión:
                                span.valor= moto.transmission
                            
                            if moto.edad_recomendada
                                .especificacion
                                    span.etiqueta Edad recomendada:
                                    span.valor= moto.edad_recomendada
                            
                            if moto.nivel_experiencia
                                .especificacion
                                    span.etiqueta Nivel de experiencia:
                                    span.valor= moto.nivel_experiencia
                            
                            if moto.uso_previsto
                                .especificacion
                                    span.etiqueta Uso previsto:
                                    span.valor= moto.uso_previsto
                    
                    .moto-descripcion
                        h2 Descripción
                        p= moto.description
                    
                    .moto-acciones
                        button.btn.btn--primary Contactar vendedor
                        button.btn.btn--secondary Agregar a favoritos
                        a.btn.btn--outline(href="/Asesoria") Volver a asesoría